.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
}

@media screen and (max-width: 765px) {
  .navBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    padding-block-start: 2rem;
    height: 20vh;
  }
}
