.desktop_render {
  display: none;
}

.tablet_render {
  display: none;
}

.collectionsSection {
  display: grid;
  justify-items: center;
  gap: 5rem;
  width: min(95%, 1400px);
  margin-inline: auto;
}
.mobile_render {
  display: grid;
  gap: 5rem;
}

.card__content {
  display: grid;
  align-items: start;
  gap: 2rem;
}

.mobile_card-container {
  display: grid;
  gap: 1rem;
  justify-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .mobile_render {
    display: none;
  }
  .tablet_render {
    display: grid;
  }

  .tablet_card-container {
    display: flex;
    align-items: start;
    text-align: start;
  }
  .collectionsSection {
    gap: unset;
  }
}
.collectionsSection h2 {
  color: #83888f;
  font-size: clamp(2rem, 5vw + 0.5rem, 10rem);
  font-family: var(--ff-france);
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .collectionsSection h2 {
    font-size: clamp(2rem, 14vw + 0.5rem, 6rem);
    text-transform: lowercase;
  }
}

@media screen and (min-width: 1024px) {
  .tablet_render {
    display: none;
  }
  .desktop_render {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-end;
    gap: 1rem;
  }
  
  .desktop_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.collectionsSection .grandEspresso,
.collectionsSection .planalto,
.collectionsSection .piccollo,
.collectionsSection .danche {
  display: grid;
  gap: 1rem;
  justify-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .collectionsSection .grandEspresso,
  .collectionsSection .planalto,
  .collectionsSection .piccollo,
  .collectionsSection .danche {
    display: flex;
    align-items: start;
    text-align: start;
  }
}
@media screen and (min-width: 1024px) {
  .collectionsSection .grandEspresso,
  .collectionsSection .planalto,
  .collectionsSection .piccollo,
  .collectionsSection .danche {
    align-items: center;
    text-align: center;
    flex-direction: column;
    box-shadow: 0px -100px 100px 10px #fff;
  }
}
.collectionsSection .grandEspresso__content,
.collectionsSection .planalto__content,
.collectionsSection .piccollo__content,
.collectionsSection .danche__content {
  display: grid;
  align-items: start;
  gap: 2rem;
}
.collectionsSection .grandEspresso__content h3,
.collectionsSection .planalto__content h3,
.collectionsSection .piccollo__content h3,
.collectionsSection .danche__content h3 {
  font-size: clamp(1.5rem, 2vw + 0.5rem, 2rem);
}
@media screen and (min-width: 768px) {
  .collectionsSection .grandEspresso__content,
  .collectionsSection .planalto__content,
  .collectionsSection .piccollo__content,
  .collectionsSection .danche__content {
    transform: translateY(-50px);
  }
}
.collectionsSection .grandEspresso {
  box-shadow: 0px -100px 100px 10px #fff;
}
@media screen and (min-width: 768px) {
  .collectionsSection img {
    max-width: 40%;
    transform: translateY(-60px);
  }
  .collectionsSection h3 {
    font-size: clamp(1.5rem, 2vw + 0.5rem, 2rem);
    font-family: var(--ff-france);
  }
  .collectionsSection p {
    font-family: var(--ff-barlow);
    font-weight: 700;
  }
}
