.howItWorks {
  display: grid;
  gap: 3rem;
  justify-items: center;
  transform: translateY(28rem);
  padding-inline: 1rem;
  width: min(95%, 1400px);
  margin-inline: auto;
}

.howitworksBG {
  background-color: var(--clr-grey-900);
  margin-block-start: 5rem;
  border-radius: 10px;
  padding: 3rem 2rem;
  transform: translateY(0);
}

.howitworksBG h3, .howitworksBG p {
  color: #fff;
}

.howItWorks .planCreationProcess {
  display: grid;
  gap: 3rem;
  text-align: center;
}

.howItWorks .process__card {
  display: grid;
  justify-items: center;
  gap: 1rem;
}
.howItWorks .process__card span {
  font-size: 3rem;
  font-family: var(--ff-france);
  color: var(--clr-orange-100);
}
.howItWorks .process__card h3 {
  font-size: clamp(1.5rem, 3vw + 0.5rem, 2rem);
  font-family: var(--ff-france);
}

@media screen and (min-width: 768px) {
  .howItWorks {
    transform: translateY(0);
    justify-items: start;
  }
  .howItWorks .planCreationProcess {
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    text-align: start;
  }

  .howItWorks .process__card {
    justify-items: start;
  }
  .howItWorks .process__card p {
    font-family: var(--ff-barlow);
    font-weight: 600;
  }
}
