*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html,
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --clr-cyan-900: #0e8784;
  --clr-cyan-100: #65d2cf;
  --clr-grey-900: #2c343e;
  --clr-grey-400: #848990;
  --clr-orange-100: #fdd6ba;
  --clr-cream-400: #f4f2eb;
  --clr-cream-100: #fefcf6;
  --ff-france: "Fraunces", serif;
  --ff-barlow: "Barlow", serif;
}
